<h1>{{title}}</h1>
<p><a href="/works/{{work._id}}/update">update</a> | <a href="/works/{{work._id}}/photos/create">add photo</a></p>
<hr>
<ul>
  <li>{{work.modality}}</li>
  <li>{{work.material}}</li>
  <li>{{work.category}}</li>
  <li>{{work.desc}}</li>
</ul>

<hr>


{{#each photos}}
<div>
  <img class="work-detail" src="{{this.url}}" alt="{{this.title}}" title="{{this.title}}">
  <form action="/photos/{{this._id}}/delete?_method=DELETE" method="POST">
    <input type="hidden" name="_method" id="hidden_delete" value="DELETE">
    <input type="submit" name="submit" id="delete_work" value="delete">
  </form>
</div>

{{/each}}